body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-item{
  margin-left: 40px;
  font-size: 16px;
  font-weight: 500;
}
.nav-link:hover{
  color: #007bff;
}
.navbar-brand{
  margin-left: 60px;
}
#supportHero{
  background-color: rgb(56,126,209);
  color: white;
  padding: 50px 200px;
  margin-bottom: 100px;
}
#supportTitle{
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}